.App {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: auto;
}

.listMaches {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto;
  justify-content: center;
}
